<!--<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">Liebling, es ist aus.</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/students" class="btn btn-info">List Students</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addstudent" class="btn btn-info">Add Student</a>
            </li>
          </ul>
        </div>
      </div>
      <hello-world></hello-world>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>-->
<h1>{{title}}</h1>
<nav>
  <a routerLink="/heroes" class="btn btn-info">Heroes</a>
  <a routerLink="/dashboard" class="btn btn-info">Dashboard</a>
  <a routerLink="/addstudent" class="btn btn-info">Add Student</a>
</nav>

<app-messages></app-messages>
<div class="jumbotron jumbtron-fluid">
  <h3 class="display-4 text-center"><img src="/assets/img/food.png"> Restaurant App</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

